{% extends 'base.html.twig' %}

{% block title %}Nouveau Sujet{% endblock %}

{% block body %}
    <div class="message form">
        <h1>Créer un nouveau sujet</h1>

        {{ include('message/_form.html.twig') }}
    </div>
{% endblock %}
